* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.socialTree {
  margin-left: 30.625rem;
  height: 35rem;
  width: 21.875rem;
  margin-top: 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem,
    rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem,
    rgba(0, 0, 0, 0.12) 0rem 0.25rem 0.375rem,
    rgba(0, 0, 0, 0.17) 0rem 0.75rem 0.8125rem,
    rgba(0, 0, 0, 0.09) 0rem -0.1875rem 0.3125rem;
  border-radius: 0.1875rem;
}

.headProject {
  padding-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.perfil {
  width: 40%;
  border-radius: 6.25rem;
  padding: 0.1875rem;
}

.border {
  border: 0.0625rem solid #bb99dd;
}

p {
  margin: 0.9375rem 0 1.5625rem 0;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1.875rem;
}

a {
  text-decoration: none;
}

.twitter {
  margin: 0.3125rem 0 0 -6.5625rem;
}

.instagram {
  margin: 0.3125rem 0 0 -5rem;
}

.linkedin {
  margin: 0.3125rem 0 0 -5.9375rem;
}

.github {
  margin: 0.3125rem 0 0 -6.875rem;
}

.link {
  text-decoration: none;
  border: 0.0625rem solid #bb99dd;
  margin: 0 2.1875rem;
  padding: 0.3125rem;
  border-radius: 0.1875rem;
  color: #bb99dd;
}

.link:hover {
  transition-delay: 1s;
  transition-duration: 1s;
  border: 0.0625rem solid #58337e;
  color: #58337e;
  padding: 0.625rem;
  margin-bottom: 5px;
}

span {
  margin: 0 0 0.3125rem 4.375rem;
  text-transform: capitalize;
}
